<ion-content id="welcome">
  <ion-grid class="welcome">
    <ion-row>
      <ion-col text-center>
        <img src="../../../assets/imgs/ApTasks20191.png" class="logo" />
        <h1 text-center>Bem-vindo ao ApTasks</h1> <!-- Parei aqui -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col center text-center>
        <ion-button expand="full" color="success" routerLink="/register">
          <ion-icon name="create"></ion-icon>
          Cadastra-se
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <ion-button expand="full" color="primary" routerLink="/login">
          <ion-icon name="log-in"></ion-icon>
          Login
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="warning">
          <ion-icon name="help-circle"></ion-icon>
          Ajuda
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="danger">
          <ion-icon name="information-circle"></ion-icon>
          Outros Apps
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>