<ion-content id="welcome" class="welcome">
  <!-- <ion-icon style="zoom:8;" name="lock"></ion-icon> [(ngModel)]="user.email" -->
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <!-- Aplicar o form e novas configurações -->
        <ion-avatar class="avatar" item-start>
          <img src="../assets/imgs/Derio.jpg">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col center text-center>
        <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)" #loginItems>

          <ion-item class="welcome">
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <br>
          <br>

          <ion-item class="welcome">
            <ion-label position="floating" color="primary">Senha</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message"
                *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Esqueceu a senha?</strong>
          </p>
          <br>
          <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Login</ion-button>
          <label class="error-message">{{errorMessage}}</label>
          
          <p text-center ion-text color="secondary"> entrar com:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <ion-button color="tertiary" expand="full" > <!-- For here -->
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col col-4>
            <ion-button color="primary" expand="full" >
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col col-4>
            <ion-button color="danger" expand="full" >
              <ion-icon name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div text-center margin-top>
          <span ion-text color="secondary" tappable (click)="goCadastrar()">Novo aqui? <strong>Cadastrar-se</strong></span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="orange">
    <ion-text class="ion-text-center" color="dark">Ⓒ Direitos reservados ApTasks-2019</ion-text>
  </ion-toolbar>
</ion-footer>