<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" title="Ir à tela principal" routerDirection="auto"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="wallpaper">
  <ion-list lines="full">
    <ion-avatar class="avatar" slot="end">
        <ion-icon size="large" color="primary" name="contact"></ion-icon>
      <!-- <img src="">  ../assets/imgs/Derio.jpg  -->
    </ion-avatar>
    <ion-item>
      <ion-label position="floating">
        <ion-icon size="large" name="contact"></ion-icon>Nome
      </ion-label>
      <ion-input required placeholder="Digite o nome do contato" type="text" [(ngModel)]="todo.nome">
      </ion-input>
    </ion-item>
    <ion-item>

      <ion-label position="floating">
        <ion-icon size="large" name="call"></ion-icon>Telefone
      </ion-label>
      <ion-input required type="number" placeholder="+55(61)xxxxxxxx" [(ngModel)]="todo.phone">
      </ion-input>

      <ion-label position="floating">
        <ion-icon size="large" name="paper"></ion-icon>Tarefas
      </ion-label>
      <ion-input required placeholder="Digite sua Tarefa" type="text" [(ngModel)]="todo.task">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prioridade</ion-label>
      <ion-input required type="number" [(ngModel)]="todo.priority">
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="success" fill="clear" title="Gravar" expand="full" (click)="salvar()">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button translucent="true" color="success" title="Ir à tela principal" routerLink="/home" routerDirection="auto">
      <ion-icon color="danger" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>