.avatar {
  margin: auto;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
}

ion-fab,
ion-item,
ion-footer,
.item {
  opacity: 0.9;
  margin: 0 0 0 0 !important ;
}

.wallpaper {
  background-color: orangered;
}
