<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wallpaper">
  <ion-list lines="full" class="wallpaper">
    <ion-avatar class="avatar" slot="start">
      <!--ion-icon size="large" color="primary" name="contact"></ion-icon-->
      <img size="large" src="../../../assets/imgs/ApTasks2019.png">
    </ion-avatar>
    <ion-item>
      <ion-label position="floating">
        <ion-icon size="large" name="contact"></ion-icon>Nome
      </ion-label>
      <ion-input required placeholder="Digite o nome do contato" type="text" [(ngModel)]="tarefa.nome">
      </ion-input>
    </ion-item>
    <ion-item>

      <ion-label position="floating">
        <ion-icon size="large" name="call"></ion-icon>Telefone
      </ion-label>
      <ion-input required type="number" placeholder="+55(61)xxxxxxxx" [(ngModel)]="tarefa.phone">
      </ion-input>

      <ion-label position="floating">
        <ion-icon size="large" name="paper"></ion-icon>Tarefas
      </ion-label>
      <ion-textarea required placeholder="Digite sua Tarefa" type="text" [(ngModel)]="tarefa.task" rows="4">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prioridade</ion-label>
      <ion-input required type="number" [(ngModel)]="tarefa.priority">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Concluído? </ion-label>
      <ion-select okText="Ok" cancelText="Cancelar" placeholder="Selecione uma" [(ngModel)]="tarefa.concluidas">
        <ion-select-option value="" aria-checked="checked">Selecione</ion-select-option>
        <ion-select-option value="sim">Sim</ion-select-option>
        <ion-select-option value="não">Não</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-fab class="item" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-buttons>
        <ion-back-button color="light" defaultHref="/home" title="Ir à tela principal" routerDirection="auto">
        </ion-back-button>
      </ion-buttons>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="!tarefa.id">
  <ion-toolbar color="success">
    <ion-button title="Adicionar tarefa" size="large" expand="block" fill="clear" color="light" (click)="addTask()">
      <ion-icon slot="icon-only" name="add" slot="start"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer class="wallpaper" *ngIf="tarefa.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button title="Exclui a tarefa" size="large" expand="block" fill="solid" color="danger" (click)="exTask()">
        <ion-icon slot="icon-only" name="trash" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button title="Atualizar a tarefa" size="large" expand="block" fill="solid" color="success"
        (click)="atTask()">
        <ion-icon slot="icon-only" name="save" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>