.welcome-card ion-img {
  max-height: 40vh;
  overflow: hidden;
}
.fake-skeleton {
  width: 60%;
}

ion-item,
ion-footer,
.item {
  border-bottom: 1px !important;
  color: #0d97f3 !important;
  background-color: #FF6600;
  opacity: 0.8;
}

ion-fab, 
ion-fab-button,
.button {
  --background: #0d97f3 !important;
}

ion-list,
.wallpaper {
  background-image: url(./../../assets/imgs/to_do.png) !important;
}

ion-avatar,
.avatar1 {
  --border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
