<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="end">
      <ion-avatar (click)="perfilPopover($event)" class="avatar1">
        <!--ion-icon size="large" color="primary" name="contact"></ion-icon-->
        <img src="../../assets/imgs/ApTasks2019.png">
      </ion-avatar>
    </ion-buttons>
    <ion-title text-center color="warning">
      <ion-icon name="book"></ion-icon>
      ApTasks
    </ion-title>
    <!--  <ion-buttons slot="start">
      <ion-button slot="icon-only">
        <ion-icon color="light" name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="wallpaper">
  <ion-searchbar placeholder="Filtrar todas as tarefas" animated="true" (ionChange)="_ionChange($event)"
    [debounce]="250" (ionCancel)="onCancel($event)" showCancelButton="always">
  </ion-searchbar>
  <ion-list class="wallpaper">
    <ion-card *ngFor="let tarefa of tarefas">
      <ion-item class="item" button [routerLink]="['/detalhes', tarefa.id]">
        <ion-thumbnail size="large" class="avatar" slot="start">
          <ion-icon size="large" color="primary" name="contact"></ion-icon>
        </ion-thumbnail>
        <ion-label color="primary">
          <ion-note slot="icon-only" color="primary"> <b>Nome:</b>{{ tarefa.nome }}</ion-note>
          <br>
          <ion-note slot="icon-only" color="primary"><b>Telefone: </b>{{ tarefa.phone }}</ion-note>
          <br>
          <ion-text slot="icon-only" color="primary"><b>Tarefa:</b>
            <p>{{ tarefa.task }}</p>
          </ion-text>
          <ion-note slot="icon-only" color="primary"> <b>Concluidos:</b> {{ tarefa.concluidas }}</ion-note>
          <p><b>Data: </b>{{ tarefa.createdAt | date:'short' }}</p>
          <ion-note slot="icon-only" color="primary"><b>Prioridade: </b>{{ tarefa.priority }}</ion-note>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>