.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.fake-skeleton {
  width: 60%;
}

ion-item, .tash{
  background: #1E4871  !important;
  margin: 0  0  0  0 !important ;
  border-bottom: 1px solid #19232c  !important;
  color: #0d97f3 !important;
}
